{{ define "main" }}
  <div role="main" class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {{ with .Content }}
          <div class="well">
            {{.}}
          </div>
        {{ end }}

        <div class="posts-list">
          {{ $pag := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections) }}
          {{ range $pag.Pages }}
            {{ partial "post_preview" . }}
          {{ end }}
        </div>

        {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
          <ul class="pager main-pager">
						{{ if .IsHome }}
              {{ if .Paginator.HasPrev }}
                <li class="previous">
									<a href="{{ .Permalink }}{{ .Site.Params.rssLocation }}/page/{{ .Paginator.Prev.PageNumber }}/">&larr; {{ i18n "newerPosts" }}</a>
                </li>
              {{ end }}
              {{ if .Paginator.HasNext }}
                <li class="next">
									<a href="{{ .Permalink }}{{ .Site.Params.rssLocation }}/page/{{ .Paginator.Next.PageNumber }}/">{{ i18n "olderPosts" }} &rarr;</a>
                </li>
              {{ end }}
						{{ else }}
              {{ if .Paginator.HasPrev }}
                <li class="previous">
                  <a href="{{ .Permalink }}page/{{ .Paginator.Prev.PageNumber }}/">&larr; {{ i18n "newerPosts" }}</a>
                </li>
              {{ end }}
              {{ if .Paginator.HasNext }}
                <li class="next">
                  <a href="{{ .Permalink }}page/{{ .Paginator.Next.PageNumber }}/">{{ i18n "olderPosts" }} &rarr;</a>
                </li>
              {{ end }}
						{{ end }}
          </ul>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
